@charset "utf-8";

@import "font.css";
@import "reset.min.css";

/*
	CSS order:
	1. clear/display/position/z-index/overflow/float
	2. width/height
	3. margin/padding
	4. color/font/line-height/text/letter-spacing/vertical-align/white-spacing/word-spacing
	5. etc
	6. border/background
 */

/* 전체 레이아웃 */

html{
  font-size: 62.5%;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  font-family: 'IropkeBatang', sans-serif;
  background-color: #F3E8D6;
  color: #121212;
}

button{
  font-family: 'IropkeBatang', sans-serif;
}


/* Wrapper 구조 */
.wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  text-align: center;
}

.content-wrap {
  width: 100%;
  position: relative;
}

/* 컨테이너 */
.wedding-container {
  max-width: 50rem;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  display: block;
  visibility: visible;
}

.wedding-top {
  position: relative;
  padding-bottom: 6.5rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6d6b5), color-stop(1, #efe4ce));
	background: -moz-linear-gradient(top, #e6d6b5 0%, #efe4ce 100%);
	background: -webkit-linear-gradient(top,  #e6d6b5 0%, #efe4ce 100%);
	background: -o-linear-gradient(top,  #e6d6b5 0%, #efe4ce 100%);
	background: -ms-linear-gradient(top,  #e6d6b5 0%, #efe4ce 100%);
	background: linear-gradient(top,  #e6d6b5 0%, #efe4ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6d6b5', endColorstr='#efe4ce', gradientType=0);

  
}
.wedding-top:before{
  content: ''; 
  display: block;
  width: 10.3rem;
  height: 17.3rem;
  background: url(../img/bg-item1.png) no-repeat center / cover;
  position: absolute;
  top: 0;
  right: 0;
}
.wedding-top:after{
  content: ''; 
  display: block;
  width: 10.3rem;
  height: 17.3rem;
  background: url(../img/bg-item1.png) no-repeat center / cover;
  position: absolute;
  top: 0;
  right: 0;
}

/* 헤더 영역 */
.wedding-header {
  text-align: center;
  padding: 6rem 3rem 4rem;
  position: relative;
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}

.wedding-header h1 {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 0 0 .5rem;
  color: #C1A381;
  letter-spacing: 0.2rem;
}

.wedding-header .subtitle {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* 메인 이미지 영역 */
.main-photo {
  width: 26rem;
  height: 35rem;
  margin: 0 auto 3rem;
  position: relative;
  overflow: hidden;
  border-radius: 100%;

}
 
.main-photo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140%;
  height: auto;
  object-fit: cover;
  margin-top: -6.5rem;
  /* box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.3); */
  transform: translate(-50%, -50%);
}

/* 베이지색 구역 1: 사진 중간부터 웨딩 메시지까지 */
.beige-section-1 {
  padding: 5rem 0;
  margin: 0;
  margin-top: -1px;
}

/* 커플 정보 */
.couple-info {
  text-align: center;
  padding: 0 3rem 4rem;
}

.couple-names {
  font-size: 2.8rem;
  padding-top: 2rem;
  margin-bottom: 1.5rem;
  color: #333;
  font-weight: normal;
  letter-spacing: 1px;
}

.couple-parents strong{
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  vertical-align: top;
}
.couple-parents {
  font-size: 1.3rem;
  color: #333;
  font-weight: 700;
}

.couple-parents:before{
  content: '';
  display: block;
  width: 3.5rem;
  height: 1px;
  margin: 3.5rem auto 4rem;
  background-color: #666;

}



.couple-parents .parent-info {
  margin-bottom: 0.8rem;
}

/* 웨딩 메시지 */
.wedding-message {
  margin: 12rem 2.8rem 0;
  padding: 3rem 1rem 3.5rem;
  /* background: rgba(245, 235, 220, 0.5); */
  /* border-radius: 2rem; */
  text-align: center;
  margin-bottom: 0;
  border: 1px solid #C1A381;
  
}

.round-tit {
  display: inline-block;
  font-size: 1.3rem;
  color: #C1A381 !important;
  font-weight: 500;
  padding: 0 1.5rem;
  line-height: 3.3rem;
  border: 1px solid #C1A381;
  vertical-align: top;
  border-radius: 100%;
  font-weight: 700;
}
.wedding-message .lg {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
.wedding-message p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #333;
  margin: 0 0 1.5rem;
}

.wedding-message p:last-child {
  margin-bottom: 0;
}

/* 빨간색 구역 2: 날짜  및 시간 */
.red-section-2 {
  
}

/* 날짜 및 시간 */
.wedding-date-tit{
  font-size: 1.3rem;
  color: #C1A381;
  font-weight: 500;
  margin-bottom: .5rem;
}

.wedding-date {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: .3rem;
}

.wedding-location {
  font-size: 1.4rem;
}

/* 베이지색 구역 2: 사진 갤러리 */
.beige-section-2 {
  padding: 7rem 0;
  background-color: #EFE4CE;
}

/* 사진 갤러리 */
.photo-gallery {
  padding: 0 2.3rem;
}

.gallery-title {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  font-weight: 700;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-bottom: 3rem;
}

.photo-item {
  position: relative;
  border-radius: .6rem;
  overflow: hidden;
}

.photo-item:nth-child(n+7) {
  display: none;
}

.gallery-list.active .photo-item:nth-child(n+7) {
  display: block;
}

.photo-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.photo-item:hover img {
  transform: scale(1.05);
}

/* 갤러리 아이템 버튼 스타일 */
.gallery-item {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.02);
}

.gallery-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* 더보기 버튼 */
.btn-more {
  display: inline-block;
  padding: 0 2rem 0;
  border: 1px solid #9C958B;
  line-height: 2.8rem;
  background-color: transparent;
  border-radius: 1.5rem;
  color: #333;
  font-size: 1.3rem;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 10;
  font-family: 'IropkeBatang', sans-serif;
} 



.btn-more:after {
  content: '';
  display: inline-block;
  margin-left: 1rem;
  margin-top: .9rem;
  transition: transform 0.3s ease;
  width: .6rem; 
  height: .6rem; 
  border-top: 1px solid #333; 
  border-right: 1px solid #333; 
  transform: rotate(135deg);
  vertical-align: top;
}

.gallery-list.active + .btn-more:after {
  margin-top: 1.1rem;
  transform: rotate(-45deg);
}

/* 빨간색 구역 3: 지도 영역 */
.red-section-3 {
  padding: 7rem 0;
}

/* 지도 영역 */
.wedding-map {
  padding: 0 3rem;
}

.map-title {
  text-align: center;
  font-size: 2.4rem;
  color: #c2a382;
  margin-bottom: 1rem;
  font-weight: normal;
}

.map-subtitle {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.map-image {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.location-info {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}


/* 베이지색 구역 3: 식사 정보 */
.beige-section-3 {
  padding: 7rem 0;
  background-color: #EFE4CE;
}

/* 베이지색 구역 4: 방명록 */
.beige-section-4 {
  padding: 7rem 0;
  background-color: #EFE4CE;

}

/* 방명록 영역 */
.guestbook {
  padding: 0 2rem;
}

.guestbook-title {
  text-align: center;
  font-size: 2.4rem;
  color: #c2a382;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: normal;
}

.btn-write {
  display: block;
  width: 100%;
  padding: 1.5rem;
  background: rgba(130, 2, 1, 0.1);
  border: 0.2rem solid rgba(130, 2, 1, 0.2);
  border-radius: 2.5rem;
  color: #820201;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5rem;
  transition: all 0.3s ease;
  position: relative;
  z-index: 10;
  box-shadow: 0 0.4rem 1.5rem rgba(130, 2, 1, 0.3);
}



/* 카드 리스트 */
.card-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list li {
  margin-bottom: 2rem;
}

.card-box {
  min-height: 10rem;
  background: none;
  border: 1px solid #7A7770;
  border-radius: 1.5rem;
  padding: 1.5rem 2rem;
  position: relative;
}

.card-actions {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: flex;
  gap: 0.8rem;
}

.btn-edit, .btn-del {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}



.btn-edit::before {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/ico-card-edit.svg) no-repeat center / contain;
  margin: 0 auto;
}

.btn-del::before {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/ico-card-del.svg) no-repeat center / contain;
  margin: 0 auto;
  font-size: 1.2rem;
}

.card-box .btn-del + .desc{
  margin: 2rem 0 1.5rem;
}
.card-box .desc {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #000;
  text-align: left;
}

html.zoom .card-info{
  display: block;
}
.card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: rgba(130, 2, 1, 0.7);
  margin-top: auto;
}

.card-info .name span {
  color: #820201;
}

/* 빨간색 구역 4: 푸터 */
.red-section-4 {
  padding: 4rem 0 6rem;
  margin: 0;
  margin-top: -1px;
}

/* 푸터 */
.wedding-footer {
  text-align: center;
  padding: 0 3rem;
  font-size: 1.2rem;
}


/* 달력 영역 */
.red-section-calendar {
  padding: 7rem 0;
  margin: 0;
}

.calendar-wrap {
  padding: 0 3rem;
  text-align: center;
}

.calendar-title {
  font-size: 2.4rem;
  color: #c2a382;
  margin-bottom: 3rem;
  font-weight: normal;
}

.cal-inner {
  padding-top: 3rem;
}

.month {
  font-size: 2.6rem;
  color: #33270f;
  margin-bottom: .5rem;
  font-weight: 700;
}
.time {
  font-size: 1.4rem;
  color: #33270f;
  font-weight: normal;
}

.tbl-wrap{
  margin-top: 3rem;
  padding: 1.6rem 0 2.5rem;
  border-top: 1px solid #9C958B;
  border-bottom: 1px solid #9C958B;
}

.tbl-cal {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  text-align: center;
}

.tbl-cal th {
  height: 3.8rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: #33270f;
}

.tbl-cal td {
  height: 3.8rem;
  font-size: 1.4rem;
  color: #33270f;
  position: relative;
  vertical-align: middle;
}
.tbl-cal th:first-child,
.tbl-cal td:first-child {
  color: #ff6b6b;
}

.tbl-cal thv:last-child,
.tbl-cal td:last-child {
  color: #4e5dcd;
}

.tbl-cal .wedding-day {
  position: relative;
}

.tbl-cal .wedding-day span {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: 600;
  color: #fff;
}

.tbl-cal .wedding-day::before {
  content: "♥";
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: #D87280;
  z-index: 1;
}

.tbl-cal .wedding-day::after {
  content: "오후 4시 40분";
  position: absolute;
  bottom: -1.2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1rem;
  color: #D87280;
  font-weight: 600;
  white-space: nowrap;
  z-index: 3;
}

/* 고정 버튼들 */
.fixed-btn-wrap {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* 확대 버튼 */
.btn-zoom {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(251, 241, 222, 0.8) url(../img/ico-zoomin.png) center / 60% no-repeat;
  border: 1px solid rgba(121, 85, 61, 0.25);
  cursor: pointer;
  transition: all 0.3s ease;
}



.btn-zoom.zoomout {
  background-image: url(../img/ico-zoomout.png);
}



/* 전체 확대 효과 */
html.zoom {
  font-size: 80%;
}

.btn-silent {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(251, 241, 222, 0.8);
  border: 1px solid rgba(121, 85, 61, 0.25); 
  font-size: 2rem;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  transition: all 0.3s ease;
}



.btn-silent.mute::before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  background: url(../img/ico-mute.svg) no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-silent:not(.mute)::before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  background: url(../img/ico-speak.svg) no-repeat center / contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 맨 위로 버튼 */
.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(251, 241, 222, 0.8);
  border: 1px solid rgba(121, 85, 61, 0.25);
  color: #c2a382;
  font-size: 20px;
  cursor: pointer;
  z-index: 1001;
  opacity: 0;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(1rem);
}

.btn-top.active {
  opacity: 1;
}



.btn-top::before {
  content: "↑";
}

/* 지도 영역 */
.wedding-map {
  padding: 0 2rem;
  text-align: center;
}

.map-title {
  font-size: 2.4rem;
  color: #c2a382;
  margin-bottom: 1rem;
  font-weight: normal;
}


.map-container {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: auto; 
  display: block;
  max-width: 100%;
}

.location-info strong{
  display: block;
  margin-bottom: .5rem;
  font-weight: 700;
  font-size: 1.4rem;
}
.location-info {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.how-to-go {
  display: grid;
  gap: 1.5rem;
  margin-top: 2rem;
}


.transport-title.subway::before {
  content: "🚇 ";
}

.transport-title.bus::before {
  content: "🚌 ";
}

.transport-title.car::before {
  content: "🚗 ";
}

.transport-title.parking::before {
  content: "🅿️ ";
}

.transport-item p {
  font-size: 1.5rem;
  line-height: 3rem;
  color: #c2a382;
  font-weight: normal;
}

/* blind 클래스 */
.blind {
  position: absolute;
  overflow: hidden;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}


/* 교통정보 스타일 */
.how-to-go {
  display: block;
  margin-top: 3rem;
  border-top: 1px solid #c2a382;
  border-bottom: 1px solid #c2a382;
}

.transport-item {
  padding: 2rem 1rem;
  text-align: left;
  border-bottom: 1px dashed #c2a382;
}

.transport-item:last-of-type{border-bottom: none;}


.transport-title::before {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  margin: 0 1.5rem 0 0;
  vertical-align: middle;
}

.transport-title.subway::before {
  content: '';
  background: url("../img/아이콘_지하철.png") no-repeat center / contain;
}

.transport-title.bus::before {
  content: '';
  background: url("../img/아이콘_버스.png") no-repeat center / contain;
}

.transport-title.car::before {
  content: '';
  background: url("../img/아이콘_차량대절.png") no-repeat center / contain;
}

.transport-title.parking::before {
  content: '';
  background: url("../img/아이콘_주차안내.png") no-repeat center / contain;
}

.transport-item p:not(.transport-title) {
  line-height: 1.4;
  font-size: 1.2rem;
  margin-left: 4.5rem;
  color: #121212;
  margin-top: .5rem;
}


/* 식사 정보 스타일 */
.meal-info {
  padding: 0 2rem;
  text-align: center;
}

.meal-title {
  font-size: 2.4rem;
  color: #c2a382;
  margin-bottom: 1rem;
  font-weight: normal;
}

.meal-subtitle {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.meal-image {
  /* margin: 3rem 0; */
}

.meal-img {
  width: 100%;
  height: auto;
  border-radius: .8rem;
}

.meal-description {
  margin-top: 3rem;
  font-size: 1.2rem;
  line-height: 1.8;
}

/* 빨간색 구역 5: 계좌 정보 */
.red-section-5 {
  padding: 7rem 0;
}

/* 계좌 정보 스타일 */
.account-info {
  padding: 0 2rem;
  text-align: center;
}

.account-title {
  font-size: 2.4rem;
  color: #c2a382;
  margin-bottom: 1rem;
  font-weight: normal;
}

.account-subtitle {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

.account-description {
  line-height: 1.8;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}

.account-fold-box {
  border: 1px solid #7A7770;
  border-radius: 2.1rem;
  padding: .5rem 1rem;
  overflow: hidden;
  transition: border-radius 0.3s ease;
}

.account-fold-box + .account-fold-box{
  margin-top: 1.5rem;
}

.account-fold-header {
  position: relative;
  text-align: left;
  cursor: pointer;
  padding: 0 .5rem
}

.account-fold-box.active .account-fold-header {
  padding-bottom: .5rem;
  border-bottom: 1px dashed rgba(194, 163, 130, 0.4);
  margin-bottom: .5rem;
}

.account-fold-header p {
  font-size: 1.4rem;
  line-height: 3rem;
  margin: 0;
  font-weight: 700;
}

.btn-account-fold {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-account-fold::after {
  content: '';
  position: absolute;
  right: 1rem;
  top: .8rem;
  width: .8rem; 
  height: .8rem; 
  border-top: 1px solid #333; 
  border-right: 1px solid #333; 
  transform: rotate(135deg);
  vertical-align: top;
  transition: transform 0.3s ease;
}

.account-fold-box.active{
  /* padding: 2rem; */
  border-radius: 1rem;
}
.account-fold-box.active .btn-account-fold::after {
  transform: rotate(-45deg);
  top: 1.1rem
}

.account-fold-content {
  display: none;
}

.account-fold-box.active .account-fold-content {
  display: block;
  animation: foldCont 0.3s forwards;
  padding: 1rem;
}

@keyframes foldCont {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.account-fold-content .account-box {
  position: relative;
}

.account-fold-content .account-box + .account-box {
  margin-top: 1.6rem;
}

.account-fold-content .account-box p {
  font-size: 1.3rem;
  text-align: left;
  margin: 0;
}

.account-fold-content .account-box p span {
  padding-left: 0.8rem;
  font-size: 1.4rem;
  vertical-align: 0;
  font-weight: bold;
}

.account-fold-content .account-box .account-num {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  color: #000;
}

.account-fold-content .account-box .btn-copy {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.account-num {
  
}

.btn-copy {
  background-color: transparent;
  border: 1px solid #C1A381;
  padding: 0.5rem 1rem;
  color: #90775b;
  border-radius: 1.5rem;
  transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
  z-index: 10;
}



/* 빨간색 구역 6: 푸터 */
.red-section-6 {
  background-color: #EFE4CE;
  padding-bottom: 5rem;
}

/* AOS 애니메이션 활성화 - 초기 상태만 설정 */
/* [data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
} */


/* 팝업 기본 스타일 */
body.popup-open {
  overflow: hidden;
}

.popup-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
}

.popup-wrap.active {
  display: block;
}

.popup-box {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(0.5rem);
}

.popup {
  position: relative;
  z-index: 10;
  border-radius: 1rem;
  max-width: 90%;
  max-height: 90%;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
}

.popup-mid .popup {
  width: 40rem;
  max-width: 90vw;
  max-height: 80vh;
  background-color: #F3E8D6;
}

.popup-full .popup {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  border-radius: 0;
  /* background: rgba(0, 0, 0, 0.6); */
}

.pop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* border-bottom: 1px solid rgba(130, 2, 1, 0.1); */
}

.popup-full .pop-header {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  border: none;
  background: transparent;
  padding: 2rem;
}

.comment-desc {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  flex: 1;
  /* text-align: center; */
}

.btn-close {
  width: 4rem;
  height: 4rem;
  border: none;
  background: rgba(130, 2, 1, 0.1);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  flex-shrink: 0;
}



.btn-close::before {
  content: '✕';
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
}

/* 방명록 팝업의 닫기 버튼 스타일 */
.popup-mid .btn-close {
  background: rgba(251, 241, 222, 0.8);
  border: 1px solid rgba(121, 85, 61, 0.25);
}



.popup-mid .btn-close::before {
  color: #c2a382;
}

.popup-full .btn-close {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1rem);
}

.popup-full .btn-close::before {
}

.pop-body {
  padding: 0;
  overflow-y: auto;
  max-height: calc(80vh - 8rem);
}

.popup-full .pop-body {
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 갤러리 전체화면 팝업 스타일 */
.gallery-swiper {
  width: 100%;
  height: 100vh;
  background: none;
}

.gallery-swiper .swiper {
  width: 100%;
  height: 100%;
}

.gallery-swiper .swiper-wrapper {
  align-items: center;
}

.gallery-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery-swiper .swiper-slide button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-swiper .img-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  box-sizing: border-box;
}

.gallery-swiper .img-box img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 1rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
}

.gallery-swiper .swiper-pagination {
  bottom: 3rem;
}

.gallery-swiper .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  width: .6rem;
  height: .6rem;
  margin: 0 0.5rem;
  opacity: 1;
  transition: all 0.3s ease;
}

.gallery-swiper .swiper-pagination-bullet-active {
  background-color: #fff;
}

.gallery-swiper .swiper-button-next,
.gallery-swiper .swiper-button-prev {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  backdrop-filter: blur(1rem);
  transition: all 0.3s ease;
}


.gallery-swiper .swiper-button-next::after,
.gallery-swiper .swiper-button-prev::after {
  font-size: 1.8rem;
  font-weight: bold;
}

/* 방명록 팝업 스타일 */
.comment-box {
  padding: 0 2rem;
}

.ip-box {
  margin-bottom: 1rem;
  position: relative;
}

.form-ip {
  width: 100%;
  padding: 1rem;
  border: 1px solid #7A7770;
  background-color: transparent;
  border-radius: 1rem;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
  font-family: inherit;
}

.form-ip::placeholder {
  color: #7A7770;
}
.form-ip:focus {
  outline: none;
  border-color: #7A7770;
}

.form-ta {
  width: 100%;
  padding: 1rem;
  border: 1px solid #7A7770;
  background-color: transparent;
  border-radius: 1rem;
  font-size: 1.4rem;
  box-sizing: border-box;
  font-family: inherit;
  resize: vertical;
  min-height: 12rem;
  line-height: 1.5;
}

.form-ta:focus {
  outline: none;
  border-color: #7A7770;
}

.form-ta::placeholder {
  color: #7A7770;
}

.btn-comment {
  display: block;
  width: 100%;
  padding: 1.5rem;
  background: none;
  border: 1px solid #7A7770;
  border-radius: 2.5rem;
  color: #000;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
}


.btn-comment:active {
  transform: translateY(0);
}

/* 에러 메시지 */
.err-msg {
  color: #d2691e;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0;
  display: none;
  font-weight: bold;
}

.err-msg.show {
  display: block;
}

/* 방명록 제목 */
.guestbook-subtitle {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

/* 방명록 카드 수정/삭제 버튼 업데이트 */
.card-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.btn-edit, .btn-del {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  z-index: 5;
}

.btn-del {
  right: 4.5rem;
}



/* 반응형: 팝업 */


